.popup-avatar-editing__container{
    width: 430px;
    height: 272px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
}

@media screen and (max-width: 540px) {
    .popup-avatar-editing__container {
        width: 282px;
    }
}
