.popup__input {
    width: 100%;
    display: block;
    padding: 0 0 13px;
    margin-bottom: 30px;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    transition: all .5s;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.popup__input:focus {
    outline: none;
}

@media screen and (max-width: 550px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}

.popup__input:nth-child(2){
    margin-bottom:0;
}

.popup__input::placeholder {
    font-size: 14px;
    font-family: inherit;
    line-height: 17px;
    color: rgba(0,0,0,0.2);
}
