.popup-deleting__container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 430px;
    height: 181px;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 540px) {
    .popup-deleting__container {
        width: 282px;
    }
}
