.popup-image__close{
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: all linear .2s;
    background-image: url(../../../images/closeIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
}

.popup-image__close:hover {
    opacity: .6;
}
