.footer__copyrights {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 66px auto 0;
    padding: 0 0 60px;
}

@media screen and (max-width: 550px) {
    .footer__copyrights {
        font-size: 14px;
        line-height: 1.21;
    }
}
