.profile__edit-button{
    width: 24px;
    height: 24px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    border: 1px solid #fff;
    background-color: transparent;
    right: -15%;
    top: 20%;
    left: 100%;
    outline: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .profile__edit-button {
        top: 20%;
        right: -15%;
        width: 18px;
        height: 18px;
    }
}
